{% extends 'base.html' %}


{% block content %}
<h1>Add band page</h1>

<form>
  <input type="text" name="name" placeholder="name">
  <input type="number" name="year" placeholder="year">

  <label for="genre">Choose a genre:</label>

<select name="genre" id="genre">
  <option value="0">Rock</option>
  <option value="1">Metal</option>
  <option value="2">Pop</option>
  <option value="3">Hip-Hop</option>
  <option value="4">Electronic</option>
  <option value="5">Reggea</option>
  <option value="6">Other</option>
</select>

  <input type="submit" value="ulož">
</form>


{% endblock %}